* {
    box-sizing: border-box;
  }

.app {
  width: 100%;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
  
/**** HEADER ****/

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 1em;
 z-index: 1;
 background-color: #000;
}


/**** MENU ****/

.menu {
  width: 1000px;
  height: 550px;
  position: fixed;
  background-color: #fff;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-radius: 5px;  
 z-index: 2;
}

.menu__list {
  height: 200px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item--text {
  margin-top: 1em;
}

.menu__image {
  width: 175px;
  height: 325px;
}

/**** CHARACTER MENU ****/

.characterMenu {
  width: 1000px;
  height: 550px;
  position: fixed;
  background-color: #fff;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-radius: 5px;  
  z-index: 2;
}

.characterMenu__list {
  height: 200px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.characterMenu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterMenu__item--text {
  margin-top: 1em;
}

.characterMenu__image {
  width: 175px;
  height: 325px;
}

/**** CHARACTER POPUP ****/

.characterPopup {
  position: absolute;
  
  background-color: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #000;
}

.characterPopup__selector {
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid  #000;
  cursor: pointer;
}

.characterPopup__selector:hover {
  background-color: #ccc;
}


/**** BACKGROUND IMAGE ****/

.findr {
  max-width: 100%;
  border: 2px solid #000;
  cursor: url(../images/custom-cursor.svg), auto;
}